@font-face{
    font-family: "Arial";
    src: url("./Arial/arial-light.ttf");
    font-weight: 300;
}
@font-face{
    font-family: "Arial";
    src: url("./Arial/arial-regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Arial";
    src: url("./Arial/arial-medium.ttf");
    font-weight: 500;
}
@font-face{
    font-family: "Arial";
    src: url("./Arial/arial-semibold.ttf");
    font-weight: 600;
}
@font-face{
    font-family: "Arial";
    src: url("./Arial/arial-bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Arial";
    src: url("./Arial/arial-black.ttf");
    font-weight: 900;
}
@font-face {
    font-family: "Helvetica";
    src: url("./helvetica-255/helvetica-light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Helvetica";
    src: url("./helvetica-255/Helvetica-regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Helvetica";
    src: url("./helvetica-255/helvetica-rounded-bold-5871d05ead8de.otf");
    font-weight: 600;
}
@font-face {
    font-family: "Helvetica";
    src: url("./helvetica-255/Helvetica-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/Montserrat-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/Montserrat-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/Montserrat-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/Montserrat-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat/Montserrat-Bold.ttf");
    font-weight: 700;
}